// a {
//   .btn-flat {
//     background-color: #163050;
//     border-radius: 3px;
//     padding: 10px;
//   }

// }
.btn-hp {
  background-color: #204A58;
  opacity: 1;
  padding: 10px;
  border-radius: 2px;
  margin-top: 30px;
}

.btn-back {
  text-decoration: none;
  color: #C4C4C4;
  &:hover {
    color: black;
  }
}
